* {
	background-color: #bbb;
	color: #055010;
}

header {
	text-align: center;
}

li {
	display: inline;
}

h3 {
	background-color: #055010;
	color: #bbb;
	padding: 0.4%;
}

dt {
	background-color: #4fc178;
	color: #2a2a7e;
	padding: 0.2%;
}

.container {
	display: flex;
	flex-wrap: wrap;
}
